extends layout

block content
	h1 Leaderboard demo

	ul
		each prsn, i in people
			li(data-position=#{prsn.position}) #{prsn.position} #{prsn.data.firstname}, #{prsn.data.lastname}
				strong  (sold #{prsn.data.sold})