extends layout

block content
	h1 Leaderboard demo

	ul
		each prsn, i in people
			li(data-position='#{prsn.temp.position}')
				strong #{prsn.temp.position}
				|  #{prsn.data.firstname} #{prsn.data.lastname}
				em  (sold #{prsn.data.sold})