{{>header}}
<section id="landing" class="dark">
	<div class="container">

		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<h1>
					<img src="/public/images/logo.png" class="img-responsive" alt="logo" />
				</h1>

				<a href="#discounts">
					<div id="early_bird">
						<div class="discount">${{config.discount_earlybird}} Off</div>
						<h4 class="early_bird_title">Early Bird</h4>

						<div class="days">{{data.days_to_earlybird_end}}</div>
						<div class="day_to_go">Days to Go</div>
					</div>
				</a>

				<iframe id="landing_video"
						src="//player.vimeo.com/video/75188030?title=0&amp;byline=0&amp;portrait=0&amp;color=ff9933"
						width="480" height="270" frameborder="0" webkitallowfullscreen mozallowfullscreen
						allowfullscreen></iframe>

				<h2>One <em>Camp</em> to Rule them <em>All</em></h2>

				<h3>{{config.date_camp_start}}</h3>
				<h4>{{data.days_to_camp}} Days to Go</h4>

				{{>social}}

			</div>
		</div>

	</div>
</section>

<section id="leaderboard" class="light">
	<div class="container">
		<h1 class="text-center">Fundraising <span class="fill">Leaderboard</span></h1>

		<div class="row">
			<div class="col-md-6">
				<h2 class="text-center">Top {{config.leaderboard_size}}</h2>

				<table class="table table-condensed">
					<thead>
					<tr>
						<th>#</th>
						<th>Name</th>
						<th>Boxes Sold</th>
					</tr>
						{{leaderboard people}}
				</table>

			</div>
			<div class="col-md-6" id="stats">
				<h2 class="text-center">Stats</h2>

				<div class="row">
					<div class="col-md-6">
						<div class="stat">
							<h6 class="stat_total">${{stats.money_raised}}</h6>
							<h5 class="stat_label">Raised for camp</h5>
						</div>
					</div>
					<div class="col-md-5">
						<div class="stat">
							<h6 class="stat_total">{{stats.boxes_sold}}</h6>
							<h5 class="stat_label">Boxes sold</h5>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-5">
						<div class="stat">
							<h6 class="stat_total">{{stats.campers_who_could_come_for_free}}</h6>
							<h5 class="stat_label">Campers could come for free
								<small>(based on junior fee)</small>
							</h5>
						</div>
					</div>
					<div class="col-md-5">
						<div class="stat cursive">
							<h6 class="stat_total">{{stats.top_family.name}}'s</h6>
							<h5 class="stat_label">Top family
								<small>{{stats.top_family.sold}} boxes sold</small>
							</h5>
						</div>
					</div>
				</div>

			</div>
		</div>


	</div>

</section>

<section id="testimonials" class="light">
	<div class="container">
		<h1>What are <span class="fill">people saying?</span></h1>

		<div class="row">
			<div class="col-md-6">
				<div class="testimonial left">
					<img src="/public/images/testimonials/sammy.jpg" />

					<p>
						An amazing experience in fellowship and God. Fun and games with friends. Full On is the place to
						be
						<span class="author">Sammy Lim</span>
					</p>
				</div>

				<div class="testimonial left">
					<img src="/public/images/testimonials/anna.jpg" />

					<p>
						Full On camp is the best week of the year! I love the bible studies, its a great time to get
						together in a small group and freely discuss where we're at in our faith. Full On is a time of
						fellowship, fun and finding satisfaction in Jesus Christ.
						<span class="author">Anna Scott</span>
					</p>

				</div>

				<div class="testimonial left">
					<img src="/public/images/testimonials/dan.jpg" />

					<p>
						In simple terms, a time that will never be forgotten. This is Full On
						<span class="author">Daniel Mcorist</span>
					</p>
				</div>

				<div class="testimonial left">
					<img src="/public/images/testimonials/bridie.jpg" />

					<p>
						Great friends, great food, great games, amazing God
						<span class="author">Bridie Peters</span>
					</p>
				</div>

				<div class="testimonial left">
					<img src="/public/images/testimonials/Gimli.jpg" />

					<p>
						Certainty of death. Small chance of success. What are we waiting for?
						<span class="author">Gimli</span>
					</p>
				</div>
			</div>
			<div class="col-md-6">
				<div class="testimonial left">
					<img src="/public/images/testimonials/nomi.jpg" />

					<p>
						I got up at 5:30 every morning to watch the sunrise, and the one morning where everyone else was
						also gonna watch the sunrise it was overcast. I laughed.
						<span class="author">Nomi Lum</span>
					</p>
				</div>
				<div class="testimonial left">
					<img src="/public/images/testimonials/carolyn.jpg" />

					<p>
						A perfect balance of God and fun spent with the most amazing people you'd ever meet
						<span class="author">Carolyn Metcalfe</span>
					</p>
				</div>
				<div class="testimonial left">
					<img src="/public/images/testimonials/turtle.jpg" />

					<p>
						Still remember amazing race full on when one of the kids tackled a gunner, who was dressed as a
						leprechaun off a cliff. Good times
						<span class="author">Andrew Fairhurst [Turtle]</span>
					</p>
				</div>
				<div class="testimonial left">
					<img src="/public/images/testimonials/Jemuel.jpg" />

					<p>
						Camp was awesome, I am ready for camp again.
						<span class="author">Jemuel Wong</span>
					</p>
				</div>
			</div>
		</div>
	</div>


	</div>
</section>

<section id="about" class="light">
<div class="container">
<h1>About</h1>

<p class="text-center">
	Included in the following section is some information about Full On 2014
</p>

<div class="row">
	<div class="col-md-6">
		<h2>What?</h2>

		<p>
			Full On is a <a title="St Philip’s Eastwood Anglican Church" href="http://en.stphils.org.au/">St Philip’s
			Eastwood Anglican Church</a> summer youth camp.
			It is for youth in years 6-12.
			Full On is a specifically Christian camp where the students will learn from the Bible about who
			Jesus is and what it means to follow him. It is also a week of "Full On" fun and activities, indoor and
			outdoors, in a loving community.
		</p>
	</div>
	<div class="col-md-6">
		<h2>When?</h2>

		<p>{{config.date_camp_start}}</p>

		<p>Full On will take place on 1st-6th of January 2014.</p>
	</div>
</div>


<h2>Where?</h2>

<div class="row">
	<div class="col-md-6">
		<p>
			It will be held at the picturesque <a href="http://www.youthworks.net/conferencecentres/port_hacking">Anglican
			Youthworks Conference Centres at Port Hacking</a>, in the Royal National Park.
		</p>

		<p>
			Situated on the shores of the Port Hacking River, these centres are located at the northern end of
			the Royal National Park about a 1 hour drive from Sydney.
		</p>

		<p>
			The centre boasts 5 accommodation centers of varying size with modern accommodation, outdoor activity
			options and
			catering facilities.
		</p>
	</div>
	<div class="col-md-6">
		<img id="img_campsite" class="img-responsive img-thumbnail" src="/public/images/campsite.jpg" alt="Campsite" />

		<p class="text-center">Our beautiful waterside campsite</p>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<h2>What will we do?</h2>

		<p>
			At camp you will experience the following "Full On" activities:
		<ul>
			<li>Bible Talks and Studies</li>
			<li>Boat Ski Tubing (Snr)</li>
			<li>Music &amp; Singing</li>
			<li>Quiet Time and Chilling</li>
			<li>Get to Know You Games</li>
			<li>Massive Scale Night Time Wide Game</li>
			<li>Snr &amp; Jnr Special Games Nights</li>
			<li>Swimming &amp; Sliding (including our own amazing water slide!)</li>
			<li>Archery &amp; Abseiling</li>
			<li>Canoeing (beware of the Turtle..) &amp; Sailing</li>
			<li>Beach Day Out (Jnr)</li>
			<li>Movies &amp; Cafe (Snr)</li>
			<li><strong>Plus much, much more!</strong> (see <a href="#media">Visual Media</a> for a taste!)</li>
		</ul>
		</p>

	</div>
	<div class="col-md-6">
		<h2>Getting and from to Camp</h2>

		<p>
			<strong>YOU WILL NEED TO BRING YOUR TRAVEL CONCESSION CARD</strong>

			We are traveling to and from camp by train.  A car and trailer will take your gear down to Port Hacking in
			the
			Royal National Park.  You will need to meet at <a href="http://en.stphils.org.au/">St Philip’s Anglican
			Church
			Eastwood</a> (cnr Shaftsbury Rd &amp; Rutledge St, Eastwood), on the lawn outside the church on Shaftsbury
			Road.  We leave on <strong>Wednesday 1 January 2014</strong> at 9.15 am, so arrive no later than <strong>8.45
			am </strong>to pack your gear and walk to the station.  We will arrive at camp around 11.00 am.

			Coming home from camp by train, we arrive back at <strong>St Philip’s Anglican Church Eastwood </strong>on
			<strong>Monday 6 January</strong> at around 3.00 pm (Mum or Dad don’t forget!).  We will be leaving camp
			by 1.00 pm.  Please contact Mike Smith (see <a href="#contact">Contact</a>) if there is
			any reason you need to travel separately - to or from camp.
		</p>
	</div>
</div>

<h2>What to bring?</h2>

<div class="row">
	<div class="col-md-6">
		<h3>General</h3>
		<ul>
			<li>Beach Towel</li>
			<li>Bible/ Pen (<strong>not optional</strong>)</li>
			<li>Heavy duty pants for abseiling that cover your hips (hipsters will hurt &amp; you will get dirty)</li>
			<li>Hat</li>
			<li>Insect repellant</li>
			<li>Long Pants</li>
			<li>Long sleeved shirt</li>
			<li>Raincoat (Our activities will still continue in the rain. We don't want you getting sick)</li>
			<li>Sandshoes (two pairs as one <strong>will get wet</strong>)</li>
			<li>Shirts</li>
			<li>Socks</li>
			<li>Suncream (30+ is best)</li>
			<li>Sunglasses (better to have than sore eyes &amp; a headache)</li>
			<li>Swimmers (String bikinis come off in the surf)</li>
			<li>Thongs (Sandals are better than thongs. Especially with socks! But seriously, sandals will protect your
				feet more)
			</li>
			<li>Torch (gives you the magical ability to see in the dark. You will probably need one for pursuing
				criminals at night...)
			</li>
			<li>Travel Concession Card</li>
			<li>Underwear</li>
			<li>Warm Top</li>
		</ul>
		<h3>Night Time</h3>
		<ul>
			<li>Pillowslip (Pillows and blankets are provided.  Pillowslips ensure you don’t catch the last persons head
				lice)
			</li>
			<li>Sleeping bag/ sheets</li>
			<li>PJ’s</li>
		</ul>

	</div>
	<div class="col-md-6">
		<h3>Hygiene (extremely not optional)</h3>
		<ul>
			<li>Toiletries (Soap, shampoo, toothbrush, toothpaste, deodorant and so on. Boys should use deodorant in
				moderation lest your leaders suffocate)
			</li>
			<li>Bath Towel</li>
		</ul>
		<h3>Other (optional)</h3>
		<ul>
			<li>Detective Outfit (will help you look authentic for our final night banquet)</li>
			<li>Teddy Bear (For hugs. Will not be allowed to participate in some activities)</li>
			<li>Chocolate (for your leaders; I mean friends! Can be used for bribes)</li>
			<li>Surfboard / Bodyboard</li>
			<li>Extra money for the day out (Juniors [yr 6-8] have access to Maianbar cafe/canteen, Seniors [yr 9-12]
				have access to Cronulla shops
			</li>
		</ul>
		<h4>Seniors Only</h4>
		<ul>
			<li>DVDs (only for Senior movie night)</li>
			<li>Wetsuit</li>
		</ul>
		<h3 class="red">Don’t Bring (these will be taken off you)</h3>
		<ul>
			<li>MP3 Players, X-Box, DS, iPads, iPods (any gaming or music playing device)</li>
			<li>Mobile phones including iPhones (don’t make us take them from you)</li>
			<li>Cigarettes</li>
			<li>Confectionery (any junk food except Chocolate [see above])</li>
			<li>Alcohol or drugs</li>
			<li>Valuables (any jewellery &amp; large amounts of money)</li>
			<li>Matches/ Lighters</li>
			<li>CDs</li>
			<li>Potential weapons (pocket knives, orange guns [seriously, what are these?], etc.)</li>
			<li>Pets</li>
		</ul>
	</div>
</div>


<!--Payment-->
<hr />
<!--hr to visually separate payment section -->
<div class="row about_section">
	<div class="col-md-6">
		<h2>How Much?</h2>

		<p>Camp Fees</p>
		<table class="table">
			<thead>
			<tr>
				<th>Type</th>
				<th>Cost</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>Junior
					<small>(school year 6-8)</small>
				</td>
				<td>${{config.fee_junior}}</td>
			</tr>
			<tr>
				<td>Senior
					<small>(school year 9-12)</small>
				</td>
				<td>${{config.fee_senior}}</td>
			</tr>
			<tr>
				<td>Leader</td>
				<td>${{config.fee_leader}}</td>
			</tr>
			</tbody>
		</table>

		<h2 id="discounts">Discounts</h2>

		<p>
			Opportunities to lower your camp fees (or the fees of others!)
		</p>

		<table class="table">
			<thead>
			<tr>
				<th class="name">Name</th>
				<th>Value</th>
				<th>Available To</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td class="name">
					Sell a box of chocolate
					<p>
						Per box
					</p>
				</td>
				<td>${{config.discount_chocolate}}</td>
				<td>Camper & Leader</td>
			</tr>
			<tr>
				<td class="name">Early bird discount
					<p>
						Register before {{config.date_earlybird_end}}
					</p>
				</td>
				<td>${{config.discount_earlybird}}</td>
				<td>Camper & Leader</td>
			</tr>
			<tr>
				<td class="name">Sibling
					<p>
						Per camper
					</p>

					<p>
						Note: this discount has changed since last year. It is now applied to <strong>every</strong>
						camper
						rather than <strong>subsequent</strong> campers
					</p>
				</td>
				<td>${{config.discount_sibling}}</td>
				<td>Camper only</td>
			</tr>
			<tr>
				<td class="name">Married leader
					<p>
						Per leader
					</p>
				</td>
				<td>${{config.discount_married}}</td>
				<td>Leader only</td>
			</tr>
			</tbody>
		</table>

	</div>
	<div class="col-md-6">
		<h2>Payment Methods</h2>

		<h3>PayPal (PayPal accounts and Credit Cards)</h3>
		We accept online payments using PayPal. This allows you to pay securely online using your paypal account or
		credit card.
		<a href="https://www.paypal.com/webapps/mpp/paypal-popup" title="How PayPal Works"
		   onclick="javascript:window.open('https://www.paypal.com/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;">
			<img id="paypal" src="/public/images/paypal.jpg"
				 alt="PayPal Acceptance Mark">
		</a>

		<h3>Other</h3>

		<p>
			The online registration form will allow you to pay using alternative methods. These include:
		<ul>
			<li>Bank Deposit</li>
			<li>Cash</li>
			<li>Other payment types as organised with Mike Smith (see <a href="#contact">Contact</a>)</li>
		</ul>
		The online registration form will give you instructions on how to complete these transaction types.
		</p>

		<h3>Request Assistance</h3>

		<p>
			We do not want to see money hinder you from coming; learning about Jesus and having a great time.
			If you are unable to afford all or part of the camp fees you are able to request financial support.
			If this is your situation fill out the online registration form and select 'request financial assistance'.
			We will then be in contact with you to arrange the details.
		</p>

	</div>
</div>
<hr />

<h2>Contact while on camp</h2>

<p>See <a href="#contact">Contact</a></p>

<h2>Statement of faith</h2>

<p>Interested in our theology? We are! Feel free to drop Mike Smith (see <a href="#contact">Contact</a>) a line if you
	have any concerns or questions.</p>

<p>
	As Christians, we believe that all humans have rejected God and have decided to live our own way. The result
	is that we end up in eternal exile from God, with nothing we can do about it.

	God, acting with love and grace, sent His son Jesus into the world to live the perfect life that we could
	not, and take the punishment for our sin by his death on the cross so that we can return into a relationship
	with Him.

	This gives us two choices. We can either continue living the way we were, in rejection of God, and face the
	consequences for our actions, or we can turn and commit our lives to Jesus so that we can return to an
	eternal relationship with God. <a href="http://www.matthiasmedia.com.au/2wtl/2wtlonline.html">More information</a>

</p>

</div>
</section>

<section id="media" class="dark">
	<div class="container">
		<h1>Visual <span class="fill">Media</span></h1>

		<div class="row">
			<div class="col-md-6">
				<h2>2013 - Camp Video</h2>
				<iframe src="//www.youtube.com/embed/lEfMKm_SiGc" width="420" height="236" frameborder="0"
						webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

				<h2>2013 - Pun-tacular Countdown</h2>
				<iframe src="//www.youtube.com/embed/videoseries?list=PLuq6QmtMUvyYTudaKENWD8jPaqK2HRHiY" width="420"
						height="236" frameborder="0"
						webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>


			</div>
			<div class="col-md-6">
				<h2>2013 - Promo</h2>
				<iframe src="//player.vimeo.com/video/50415712?title=0&amp;byline=0&amp;portrait=0&amp;color=ff9933"
						width="420" height="236" frameborder="0" webkitallowfullscreen mozallowfullscreen
						allowfullscreen></iframe>
				<h2>2012 - Photos</h2>
				<iframe src="//www.youtube.com/embed/-BIMqGW4-uA" width="420" height="236" frameborder="0"
						webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</div>
		</div>
	</div>

</section>

<section id="contact" class="light">
	<div class="container">
		<h1>Contact</h1>

		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="row">
					<div class="col-md-6">
						<h2>General Enquiries</h2>

						<p>General questions or information about camp</p>

						<h4>Rev. Mike Smith</h4>

						<img src='/public/images/contact/profile-mike.jpg' />

						<p class="details">
							<a href="tel:98741827">9874 1827</a>
							<a href="mailto:mikes@stphils.org.au?subject='Full On - General Website Enquiry'">mikes@stphils.org.au</a>
							<a href="http://en.stphils.org.au/about-us/staff-profiles/">More information about Mike</a>
						</p>
					</div>

					<div class="col-md-6">
						<h2>On Camp Communication</h2>

						<p>How to contact a camper while on camp</p>

						<p>
							There is a public phone at camp. Incoming calls should only be made in the case of an
							emergency to
							the general number for the Port Hacking Conference Centres on <a href="tel:85253100">8525
							3100</a>.
						</p>

						<p>
							Our address at camp is:
						</p>

						<p>
							St Philips Eastwood </br>
							c/- Port Hacking Conference Centres </br>
							PO Box 705 </br>
							SUTHERLAND NSW 1499 </br>
						</p>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<h2>Chocolates</h2>

						<p>Questions or concerns about the chocolate data</p>

						<h4>Stephen Cooke ('Cookie')</h4>

						<img src='/public/images/contact/cookie.jpg' />

						<p class="details">
							<a href="mailto:cookie_v2@optusnet.com.au?subject='Full On - Chocolate Website Enquiry'">cookie_v2@optusnet.com.au</a>
						</p>
					</div>
					<div class="col-md-6">
						<h2>Website technical Support</h2>

						<p>Issues with the website content or functionality</p>

						<h4>Alex Reardon</h4>

						<img src='/public/images/contact/alex.jpg' />

						<p class="details">
							<a href="mailto:alexreardon@gmail.copm?subject='Full On - Technical Website Enquiry'">alexreardon@gmail.com</a>
						</p>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>

<section id="bottom_call" class="dark">
	<div class="container">
		<h1>What are you <span class="fill">waiting for?</span></h1>
		<button class="btn btn-success btn-lg">Register Now</button>
	</div>
</section>

{{>footer}}