{{>header}}
<div id="register_nav">
	<div class="container">
		<div class="row">
			<div class="col-md-2">
				<div class="camper_type_flag"></div>
				<h6 class="camper_type_label">Begin</h6>
			</div>

			<nav>
				{{#each schema}}
					<div class="col-md-2">
						<a href="/register/{{name}}">{{text}}</a>
					</div>
				{{/each}}
			</nav>
		</div>
	</div>
</div>

<form method="post" id="register_form">

	<section id="allegiance">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3">

					<h3>Choose Your</h3>

					<h2>Allegiance</h2>

					<div class="row">
						{{#each config.camper_types}}
							<div class="col-sm-4">
								<div class="flag">
									<img id="{{@key}}" src="{{flag_url}}" />
									<h4>{{@key}}</h4>

									<p>{{description}}</p>
								</div>
							</div>
						{{/each}}
					</div>

					{{>input schema.allegiance.fields.camper_type}}

					{{>navigation_buttons}}

				</div>

			</div>
		</div>
	</section>

	<section id="{{schema.costs.name}}">
		<div class="container">
			<h1>{{schema.costs.text}}</h1>


			<div class="row">
				<div class="col-xs-8">
					<h2>Fees</h2>

					<p>You are a <strong class="camper_type_label">unknown</strong>.</p>
				</div>
				<div class="col-xs-4">
					<h2>Cost</h2>
					<h5 class="camp_fee">$unknown</h5>
				</div>
			</div>


			<div class="row">
				<div class="col-xs-8">
					<h2>Discounts</h2>
				</div>
				<div class="col-xs-4">
					<h2>Deductions</h2>
				</div>
			</div>

			<!-- Cost radio buttons -->
			{{#each schema.costs.fields}}
				{{#if_not_equal this ../schema.costs.fields.donation}}
					<div class="row discount_row">
						<div class="col-xs-8">
							{{>input ../this}}
							<!-- chocolate dropdown-->
							{{#if_equal this ../../schema.costs.fields.discount_chocolate}}
								<div class="form-group hide">
									<select name="{{../../name}}" id="discount_chocolate_dropdown" class="form-control">
										{{#each ../../../people}}
											<option value="{{data.attributed}}"
													data-firstname="{{data.firstname}}"
													data-lastname="{{data.lastname}}">{{data.firstname}} {{data.lastname}}
												[{{data.attributed}}]
											</option>
										{{/each}}
									</select>
									<span class="help-block">If you think the chocolate information is incorrect please <a
											target="_blank" href="/#contact">contact us</a></span>
								</div>
							{{/if_equal}}
						</div>
						<div class="col-xs-4">
							{{#if_equal ../_default 'yes'}}
								<h6 class="discount_amount amount_display"
									data-current-value="{{get_discount ../../this}}">
									${{get_discount ../../this}}
								</h6>
							{{else}}
								<h6 class="discount_amount amount_display" data-current-value="0">
									$0
								</h6>
							{{/if_equal}}
						</div>
					</div>
				{{/if_not_equal}}
			{{/each}}

			<!-- donation -->
			<div class="row">
				<div class="col-xs-8">
					<h2>Donation</h2>
					{{>input schema.costs.fields.donation}}
				</div>
				<div class="col-xs-4">
					<h2>Amount</h2>
					<h6 class="amount_display donation_amount" data-current-value="{{schema.costs.fields.donation._default}}">
						${{schema.costs.fields.donation._default}}
					</h6>
				</div>
			</div>

			<!--totals-->
			<div class="row total_row">
				<div class="col-xs-8">
				</div>
				<div class="col-xs-4">
					<h2>Total</h2>
					<h5 class="camp_fee_total">$total</h5>
				</div>

			</div>

			{{>navigation_buttons}}

		</div>
	</section>

	{{! generic sections }}
	{{>form_section schema.basic}}
	{{>form_section schema.medical_contacts}}
	{{>form_section schema.medical_info}}
	{{>form_section schema.activities}}

	{{! payment section }}
	<section id="{{schema.payment.name}}">
		<div class="container">
			<h1>{{schema.payment.text}}</h1>
			{{#each schema.payment.fields}}
				{{>input this}}
			{{/each}}

			<button>SIGN UP DIZZLE</button>
		</div>
	</section>

</form>

{{>footer}}