{{>header}}
<div id="register_nav">
	<div class="container">
		<div class="row">
			<div class="col-md-2">
				<div class="camper_type_flag"></div>
				<h6 class="camper_type_label">Begin</h6>
			</div>

			<nav>
				{{#each schema}}
					<div class="col-md-2">
						<a href="/register/{{@key}}">{{@key}}</a>
					</div>
				{{/each}}
			</nav>
		</div>
	</div>
</div>

<form method="post" id="register_form">

	<section id="allegiance">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3">

					<h3>Choose Your</h3>

					<h2>Allegiance</h2>

					<div class="row">
						{{#each config.camper_types}}
							<div class="col-sm-4">
								<div class="flag">
									<img id="{{@key}}" src="{{flag_url}}" />
									<h4>{{@key}}</h4>

									<p>{{description}}</p>
								</div>
							</div>
						{{/each}}
					</div>

					{{{print_field schema.allegiance.camper_type}}}

					{{{navigation_buttons schema 'allegiance'}}}

				</div>

			</div>
		</div>
	</section>

	<section id="costs">
		<div class="container">
			<h1>Cost</h1>

			<div class="row">
				<div class="col-xs-8">
					<h2>Fees</h2>

					<p>You are a <strong class="camper_type_label">unknown</strong>.</p>
				</div>
				<div class="col-xs-4">
					<h2>Cost</h2>

					<h5 class="camp_fee">$unknown</h5>
				</div>
			</div>

			<!-- Cost radio buttons -->
			{{#each schema.costs}}
				<div class="row discount_row">
					<div class="col-xs-8">
						{{{print_field this}}}
						{{! chocolate dropdown}}
						{{#ifEq this ../schema.costs.discount_chocolate}}
							<div class="form-group hide">
								<select id="discount_chocolate_dropdown" class="form-control">
									{{#each ../../people}}
										<option value="{{data.attributed}}"
												data-current-value="{{math data.attributed '*' ../../../config.discount_chocolate}}"
												data-firstname="{{data.firstname}}"
												data-lastname="{{data.lastname}}">{{data.firstname}} {{data.lastname}}
											[{{data.attributed}}]
										</option>
									{{/each}}
								</select>
							</div>
						{{/ifEq}}
					</div>
					<div class="col-xs-4">
						{{#ifEq _default 'yes'}}
							<h6 class="discount_amount" data-current-value="{{get_discount ../this}}">
								${{get_discount ../this}}
							</h6>
						{{else}}
							<h6 class="discount_amount" data-current-value="0">
								$0
							</h6>
						{{/ifEq}}
					</div>
				</div>
			{{/each}}

			<!--totals-->
			<div class="row total_row">
				<div class="col-xs-8">
				</div>
				<div class="col-xs-4">
					<h2>Total</h2>
					<h5 class="camp_fee_total">$total</h5>
				</div>

			</div>

		</div>
	</section>

</form>

{{>footer}}