<div class="form-group{{#if hidden}} hide{{/if}}{{#if disabled}} disabled{{/if}}"
		{{#if data_value}} data-value="{{data_value}}"{{/if}}>
	{{#if text}}
		<p>{{text}}</p>
	{{/if}}
	{{#each options}}
		<div class="radio">
			<label>
				<input type="radio" name="{{../name}}" value="{{this}}"
					{{#if ../hidden}} hidden="true"{{/if}}
					{{#ifEq this ../_default}} checked="checked" {{/ifEq}}
					{{#if ../disabled}} disabled="disabled" {{/if}}
						/>
				{{this}}
			</label>
		</div>
	{{/each}}
	{{#if info}}
		<p class="help-block">{{info}}</p>
	{{/if}}
</div>